.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.dc-chart g.row text {
    fill: black;
}

.dc-data-table td,
.dc-data-table th {
    border: 1px solid #999;
    padding: 0.5rem;
    min-width: 87px;
    height: 20;
}

.dc-data-table th {
    background-color: #bfbfbf;
}

.dc-table-group {
    background-color: #e5e5e5;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.flexChart {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 400px;
}

.flexChart > div {
    height: 90%;
}

.flexChart2 {
    display: flex;
    flex-direction: column;
    width: 870px;
    height: 400px;
}

.flexChart2 > div {
    height: 90%;
}

dc-chart,
dc-bar-chart {
    height: 300px;
    display: block;
    ;
}

dc-chart > h4 {
    display: inline;
}

dc-bar-chart > h4 {
    display: inline;
}

#dcCounter {
    font-size: large;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#dcCounter .filter-count {
    color: #3182bd;
    font-weight: bold;
}

#dcCounter .total-count {
    color: #3182bd;
    font-weight: bold;
}

#dcDataTable > * {
    font-size: smaller;
}
